<nz-layout>
  <nz-header>
    <div class="header">
      <img class="header-image" [src]="imgUrl">
      <div class="header-info">
        <div>{{title}}<nz-tag [nzColor]="'#87d068'">{{status === 'published'? '已发布': '未发布'}}</nz-tag>
          <div></div>教师：<span>{{teachersName}}</span>
        </div>
        <button nzSize="small" nz-button nzType="primary" (click)="navigateByUrl('/client/courseinf/' + courseId)">返回课程主页</button>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="content">
      <div class="left-content">
        <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/base')" [nzSelected]="location?.pathname.endsWith('base')">基本信息</li>
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/detail')" [nzSelected]="location?.pathname.endsWith('detail')">详细信息</li>
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/cover')" [nzSelected]="location?.pathname.endsWith('cover')">封面图片</li>
          <li nz-menu-divider></li>
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/tasks')" [nzSelected]="location?.pathname.endsWith('tasks')">课时管理</li>
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/file')" [nzSelected]="location?.pathname.endsWith('file')">课程文件</li>
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/studentsetting')" [nzSelected]="location?.pathname.endsWith('studentsetting')">学生管理</li>
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/teachersetting')" [nzSelected]="location?.pathname.endsWith('teachersetting')">教师设置</li>
            <li nz-menu-item (click)="navigateByUrl('/client/openresource/' +courseId + '/coursesetting')" [nzSelected]="location?.pathname.endsWith('coursesetting')">推荐课程管理</li>
        </ul>
      </div>
      <div class="right-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-content>
</nz-layout>
