<div class="table-content">
  <div class="filter-area">
    <input
      class="name-containing-input"
      nz-input
      placeholder="请输入用户名"
      [(ngModel)]="name"
    />
    <button
      (click)="getStudent(1, name)"
      nz-button
      nzType="primary"
      class="search-button"
    >
      <i nz-icon nzType="search"></i>搜索
    </button>
  </div>
  <nz-divider></nz-divider>
  <nz-table
    #studentListTable
    [nzData]="studentList"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzLoading]="loading"
    [nzPageSize]="8"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="getStudent(pageIndex)"
  >
    <thead>
      <tr>
        <th>学员</th>
        <th>最近访问时间</th>
        <th>手机号</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList">
        <td>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
            "
          >
            <img class="avatar" [src]="student.smallAvatar" />
            <div
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 10px;
              "
            >
              <span
                style="
                  cursor: pointer;
                  font-size: 14px;
                  color: rgba(0, 0, 0, 0.75);
                "
              >
                {{ student.nickname }}
              </span>
              <span style="font-size: 12px; color: rgba(0, 0, 0, 0.55)"
                >加入时间{{
                  student.createdTime * 1000 | date: "yyyy-MM-dd HH:mm:ss"
                }}</span
              >
            </div>
          </div>
        </td>
        <td>{{ student.lastEnterTime * 1000 | date: "yyyy-MM-dd HH:mm:ss" }}</td>
        <td>{{ student.mobile }}</td>
        <td>
          <i
            class="more-operation"
            nz-popover
            nzTitle="可执行操作"
            [nzContent]="operationTemplate"
            nzTrigger="hover"
            nz-icon
            nzType="more"
            nzTheme="outline"
            nzPlacement="bottom"
          ></i>
        </td>
        <ng-template #operationTemplate>
          <div class="user-management-operation">
            <div>
              <span (click)="sendMessage(student.userId, messageSendingTemplate)"
                ><i nz-icon nzType="mail" nzTheme="outline"></i>发私信</span
              >
            </div>
            <div>
              <span (click)="checkInfo(student.userId)"
                ><i nz-icon nzType="eye" nzTheme="outline"></i>查看资料</span
              >
            </div>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>

  <ng-template #messageSendingTemplate>
    <label>
      <textarea
        nz-input
        [(ngModel)]="messageContent"
        [nzAutosize]="{ minRows: 4 }"
      ></textarea>
      <span style="font-size: 12px; color: rgba(0, 0, 0, 0.45)"
        >私信内容必填</span
      >
    </label>
  </ng-template>
</div>
