<div class="table-content">
    <!--搜索框-->
    <div nz-row>
        <div nz-col nzSpan="8">
            <div class="filter-area">
                <input nz-input placeholder="请输入试卷名字" type="text" [(ngModel)]="searchPName" name="searchPName"/>
                <div id='result'></div>
            </div>
        </div>
        <div nz-col nzSpan="1">
            <p></p>
        </div>
        <div nz-col nzSpan="4">
            <!--用户的输入可以用一个any值来存放-->
            <button (click)="selectByPaperName()" nz-button nzType="primary" class="search-button"><i nz-icon
                    nzType="search"></i>搜索</button>
        </div>
    </div>
    <nz-divider></nz-divider>
    <!--显示试卷列表-->
    <div *ngFor="let paper of paperListAfterSearch">
        <div>
            <div nz-row>
                <div nz-col nzSpan="20">
                    <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
                        <ng-template #nzTitle >
                            <div style="font-size: 15px;">{{ paper.number }}  {{paper.title}}</div>
                        </ng-template>
                        <ng-template #nzDescription>
                            <!--
                            <div>来自课程<span style="cursor: pointer; color: #108ee9">《{{ paper[2]}}》</span>计划<span
                                    style="cursor: pointer; color: #108ee9">《{{paper[3]}}》</span> · {{paper[4]}}
                            </div>
                            
                            <div>总分：{{paper.score}} · 创建时间：{{paper.createdTime}}</div>-->
                            <div>总分：{{paper.score}} · 创建时间：{{paper.createdTime * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                        </ng-template>
                    </nz-list-item-meta>
                </div>
        
                <div nz-col nzSpan="4" style="text-align: center;"><button nz-button (click)="clickShowButton(paper.testId)">显示</button></div>
            </div>
            <!--显示学生答题情况-->
            <div nz-row *ngIf="showStudentOrNot(paper.testId)">
                <!--<div>点击次数{{clickCount}}</div>-->
                <p></p>
                <div>
                    <nz-table [nzData]="[{}]" [nzShowPagination]='false'>
                        <thead>
                            <tr>
                                <th>学生姓名</th>
                                <th>交卷时间</th>
                                <th>状态</th>
                                <th>得分</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let st of paperSt.data">
                                <td>{{st.userName}}</td>
                                <td>{{st.endTime* 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{st.status}}</td>
                                <td><span style="cursor: pointer; color: #108ee9">{{st.actualScore}}</span>/{{st.score}}</td>
                                <td><span style="cursor: pointer; color: #108ee9" (click)="navigatTo('client/testpaper/'+ paper.testId +'/result/'+st.userId)">查看</span></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>

        <div nz-row><nz-divider></nz-divider></div>
    </div>

</div>

