<div class="setting-page">
  <div class="page-header">
    <h2>试卷批阅</h2>
  </div>
  <nz-divider></nz-divider>
  <div class="page-content">
    <!--<app-paper-marking-tab></app-paper-marking-tab>-->
    <nz-tabset class="computer-style" nzTabPosition="top">
      <nz-tab nzTitle="班级试卷">
        <app-have-marked-classpaper></app-have-marked-classpaper>
      </nz-tab>
      <nz-tab nzTitle="课程试卷">
        <app-have-marked-coursepaper></app-have-marked-coursepaper>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
