<nz-collapse nzAccordion>

    <ng-container *ngFor="let item of courses;let i = index;">
        <nz-collapse-panel *ngIf="getTaskByType(item,'lesson').status=='published'"
            [nzHeader]="'任务'+i+':'+getTaskByType(item,'lesson').title">
            <div *ngIf="getTaskByType(item,'preparation')!=null" class="listitem courselink">
                <a
                    (click)="navigateByUrl('/client/courseinf/'+courseid+'/teachplan/'+teachplanId+'/task/'+ getTaskByType(item,'preparation').taskId)"><span>
                        <nz-tag [nzColor]="'#87d068'">预习</nz-tag>{{getTaskByType(item,'preparation').title}}
                    </span></a>
            </div>
            <div *ngIf="getTaskByType(item,'lesson')!=null" class="listitem courselink">
                <a
                    (click)="navigateByUrl('/client/courseinf/'+courseid+'/teachplan/'+teachplanId+'/task/'+ getTaskByType(item,'lesson').taskId)"><span>
                        <nz-tag [nzColor]="'#87d068'">任务学习</nz-tag>{{getTaskByType(item,'lesson').title}}
                    </span></a>
            </div>
            <div *ngIf="getTaskByType(item,'exercise')!=null" class="listitem courselink">
                <a
                    (click)="navigateByUrl('/client/courseinf/'+courseid+'/teachplan/'+teachplanId+'/task/'+ getTaskByType(item,'exercise').taskId)"><span>
                        <nz-tag [nzColor]="'#87d068'">练习</nz-tag>{{getTaskByType(item,'exercise').title}}
                    </span></a>
            </div>
            <div *ngIf="getTaskByType(item,'homework')!=null" class="listitem courselink">
                <a
                    (click)="navigateByUrl('/client/courseinf/'+courseid+'/teachplan/'+teachplanId+'/task/'+ getTaskByType(item,'homework').taskId)"><span>
                        <nz-tag [nzColor]="'#87d068'">作业</nz-tag>{{getTaskByType(item,'homework').title}}
                    </span></a>
            </div>
            <div *ngIf="getTaskByType(item,'extraClass')!=null" class="listitem courselink">
                <a
                    (click)="navigateByUrl('/client/courseinf/'+courseid+'/teachplan/'+teachplanId+'/task/'+ getTaskByType(item,'extraClass').taskId)"><span>
                        <nz-tag [nzColor]="'#87d068'">课外</nz-tag>{{getTaskByType(item,'extraClass').title}}
                    </span></a>
            </div>
        </nz-collapse-panel>
    </ng-container>

</nz-collapse>

<nz-divider></nz-divider>
<!-- <div class="pagination">
    <nz-pagination [(nzPageIndex)]="coursepage_number"
        [nzTotal]="total_course_p_num" (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
 </div> -->