#content {
  margin: 24px;
}

.card > nz-card {
  margin-bottom: 10px;
}

nz-list-item-meta {
  position: absolute;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 65%;
  text-align: end;
}

nz-list-item.ant-list-item {
  padding-right: 40%;
}

a {
  color: blueviolet;
}

#statistic-bg {
  height: 400px;
  display: flex;
}

.statistic-col {
  width: 50%;
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}