#content {
  margin: 24px;
}

.card > nz-card {
  margin-bottom: 10px;
}

nz-list-item-meta {
  position: absolute;
  right: 0;
}

nz-list-item.ant-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: blueviolet;
}
