<div class="setting-page">
  <h1>推荐课程管理</h1>
  <nz-divider></nz-divider>
  <!-- <div class="page-header">
    <button nz-button nzType="primary" (click)="openAddingCourseModal()">添加课程</button>
  </div> -->
  <div class="task-list-header">
    <button nz-button nzType="primary" (click)="openAddingCourseModal()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>添加课程
    </button>
  </div>
  <div class="page-content">
    <div class="drag-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of courseList" class="drag-box" cdkDrag>
        <div class="list-info">
          <img class="img-info" [src]="item?.cover? item?.cover: 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'" />
          <div style="margin-left: 2%" class="text-info">
            <div class="info-header">
              <div class="course-title" nz-tooltip [nzTitle]="item?.title">{{item?.title}}</div>
              <span class="empty-space"></span>
              <i style="cursor: pointer; font-size: 16px; line-height: 24px;" (click)="deleteCourse(item.recommendId)" nz-icon nzType="close"></i>
            </div>
            <div class="course-describe"><span>{{item?.subtitle}}</span></div>
            <div class="empty-space"></div>
            <div class="info-footer">
              <div class="teacher-info">
                <img class="avatar" [src]="item?.smallAvatar" />
                <div style="display: flex; flex-direction: column; justify-content: center">
                  <span>{{item?.nickname}}</span>
                </div>
              </div>
              <div class="course-data">
                <div>
                  <span>{{item?.studentNum}}学员</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <nz-alert nzType="error" nzDescription="若班级课程被移除，则该课程内所有学习数据将被清空。">
    </nz-alert>
  </div>
</div>
