<nz-layout>
  <nz-content class="content1" >
    <div class="video-content" nz-row>
      <div nz-col nzSpan="18">
        <app-openResource-video-player [userID]='userId' [url]="lessonData.url" [courseTaskId]="courseId"></app-openResource-video-player>
      </div>
      <div nz-col nzSpan="6">
        <nz-list [nzDataSource]="courseList" [nzHeader]="header"
                 [nzRenderItem]="item" [nzLoading]="courseListLoading"
                 [nzSplit]="false" class="recommendCourse">
          <ng-template #header>
            <i nz-icon nzType="star" nzTheme="outline"></i>
            <span style="margin-left: 10px; font-size: 18px">推荐课程</span>
          </ng-template>
          <ng-template #item let-item>
            <nz-list-item [nzContent]="courseItem"></nz-list-item>
            <ng-template #courseItem>
              <a style="color: white" (click)="navigateByUrl('/client/openresourcedetail/'+item.courseId)">
              {{item.courseTitle}}</a>
            </ng-template>
          </ng-template>
        </nz-list>
      </div>
    </div>
    <div class="inner-layout">
      <div class="logo">
        <img [src]="basicData.videoCover"  width="130" height="100"/>
        <div class="video-info">
          <div style="font-size:18px;font-weight:500; margin: 10px 20px 40px 20px">
            禁毒微电影{{basicData.movieTitle}}
          </div>
          <div class="statistics">
            <nz-statistic [nzValue]="basicData.hitNum | number"
                          [nzPrefix]="prefixTpl1"
                          [nzValueStyle]="{fontSize:'13px'}"></nz-statistic>
            <ng-template #prefixTpl1><i nz-icon nzType="eye"></i></ng-template>
          </div>
        </div>
      </div>
      <div class="operation">
        <div class="detail-operation">
          <span>
            <nz-statistic [nzValue]="basicData.likeNum | number" [nzPrefix]="like" [nzValueStyle]="{fontSize:'18px'}"></nz-statistic>
            <ng-template #like>
              <nz-avatar [nzIcon]="'like'" [nzShape]="'circle'" [nzSize]="40"
                         style="cursor: pointer" (click)="clickLike()"
                         (mouseover)="likeBtnState=1" (mouseleave)="likeBtnState=0"
                         [ngClass]="{like:likeBtnState==1}"></nz-avatar>
              <span style="margin-left: 10px">点赞</span>
            </ng-template>
          </span>
          <span>
            <nz-avatar [nzIcon]="'save'" [nzShape]="'circle'" [nzSize]="40"
                       style="cursor: pointer" (click)="clickCollect()"
                       (mouseover)="collectBtnState=1" (mouseleave)="collectBtnState=0"
                       [ngClass]="{collect:collectBtnState==1}"></nz-avatar>
            <span *ngIf="!basicData.isCollected" style="font-size:18px; margin-left: 10px">收藏</span>
            <span *ngIf="basicData.isCollected" style="font-size:18px; margin-left: 10px">已收藏</span>
          </span>
        </div>
      </div>
    </div>
    <div class="content2">
<!--  左侧部分-->
      <div class="left-content">
        <div class="teacher-card" style="background-color: #ffffff;">
          <h2 class="sidertitle">课程教师</h2>
          <nz-divider></nz-divider>
          <div style="display: flex">
            <span style="cursor: pointer">
              <nz-avatar nz-popover [nzPopoverTitle]="Title" [nzPopoverContent]="contentTemplate"
                         nzPopoverPlacement="right"
                         [nzSize]="100" nzIcon="user" [nzSrc]="teacherData.avatar"></nz-avatar>
              <ng-template #Title>
                <nz-avatar class="user-avatar pointer-perform" nzIcon="user" [nzSrc]="teacherData.avatar" [nzSize]="50" (click)="navigateByUrl('个人页面的路由')"></nz-avatar>&nbsp;
                <span slot="title" style="font-weight:400">{{teacherData.nickname}}</span>
                <div style="font-weight:100;font-size: 12px;margin-top:-18px;margin-left: 59px;">{{teacherData.title}}</div>
                <div style="float: right">
                  <button *ngIf="!isFollowed" nz-button nzSize="small" nzType="primary" style="text-align: center"
                          (click)="follow_submit(teacherData.id)">关注</button>
                  <button *ngIf="isFollowed" nz-button nzSize="small" nzType="default" style="text-align: center"
                          (click)="del_follow_submit(teacherData.id)">已关注</button>
                  <button nz-button nzSize="small" style="margin: 10px"
                          (click)="navigateByUrl('/client/tidings/privatechat/'+teacherData.nickname)">私信</button>
                </div>
              </ng-template>
              <ng-template #contentTemplate>
                <div style="width: 400px">
                  <p>青少年毒品预防教育</p>
                  <div nz-row [nzGutter]="2">
                    <div nz-col [nzSpan]="8" style="cursor: pointer;">
                      <nz-card nzTitle="3" style="border: 0">
                        <p>在学</p>
                      </nz-card>
                    </div>
                    <div nz-col [nzSpan]="8"  style="cursor: pointer;">
                      <nz-card nzTitle="{{teacherData.followNum}}" style="border: 0">
                        <p>关注</p>
                      </nz-card>
                    </div>
                    <div nz-col [nzSpan]="8" style="cursor: pointer;">
                      <nz-card nzTitle="{{teacherData.fansNum}}" style="border: 0">
                        <p>粉丝</p>
                      </nz-card>
                    </div>
                  </div>
                </div>
              </ng-template>
            </span>
            <span style="font-weight:400;margin-left: 30px;">
              <h3><a class="specialLink" (click)="navigateByUrl('教师个人界面')">
                {{teacherData.nickname}}
              </a></h3>
              <p>{{teacherData.title}}</p>
            </span>
          </div>
        </div>
      </div>
<!--  右侧部分-->
<!--      <div class="right-content">-->
<!--        <div class="courseResourceDL">-->
<!--          <nz-card nzTitle="课程资料下载">-->
<!--            <div><a class="specialLink">{{basicData.movieTitle}}.mp4</a></div>-->
<!--            <div>75.19MB - <a class="specialLink">课时1</a> - 上传于2018-06-23</div>-->
<!--          </nz-card>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </nz-content>
</nz-layout>
