<div class="backround-card">
  <img class="mobile-pic" alt="mobile-pic" src="../../../../assets/img/menu-pic.jpg" />
  <div nz-row class="pc-version">
    <div class="card">
      <button nz-button nzType="primary" (click)="showModal()" id="setting" *ngIf="isShow()">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
      </button>

      <button *ngFor="let buttonItem of userButtonList" class="menu-button" nz-button nzType="primary"
        (click)="navigateByUrl(buttonItem.url)">{{buttonItem.name}}<i nz-icon nzType="right"></i></button>
    </div>

    <div nz-col [nzSpan]="20" nzOffset="4">
      <div nz-row>
        <img class="main-pic" alt="menu-pic" src="../../../../assets/img/menu-pic.jpg" />
      </div>
      <div nz-row class="right-content">
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock (click)="navigateByUrl('/client/courselist?type_tag=22')">
            <div nz-row>
              <nz-avatar nzIcon="books-1" nzSrc="../../../../assets/img/books-1.png" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>小学课程</div>
          </button>
        </div>
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock (click)="navigateByUrl('/client/courselist?type_tag=23')">
            <div nz-row>
              <nz-avatar nzIcon="books-2" nzSrc="../../../../assets/img/books-2.png" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>中学课程</div>
          </button>
        </div>
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock (click)="navigateByUrl('/client/courselist?type_tag=24')">
            <div nz-row>
              <nz-avatar nzIcon="books-3" nzSrc="../../../../assets/img/books-3.png" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>高中课程</div>
          </button>
        </div>
        <div nz-col [nzSpan]="6">
          <button class="list-button" nz-button nzBlock (click)="navigateByUrl('/client/courselist?type_tag=25')">
            <div nz-row>
              <nz-avatar nzIcon="books-4" nzSrc="../../../../assets/img/books-4.png" nzSize="large" [nzShape]="'square'"></nz-avatar>
            </div>
            <div nz-row>高阶课程</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
