<div class="file-page">
  <h1>课程文件</h1>
  <nz-divider></nz-divider>
  <div class="header">
    <div>
      <button nz-button nzType="primary" (click)="isVisible = true">
        <i nz-icon nzType="cloud-upload" nzTheme="outline"></i>添加课程文件
      </button>
    </div>
  </div>
  <div class="content">
    <nz-table
      #fileListTable
      [nzData]="fileUploadedList"
      [nzTotal]="total"
      [nzLoading]="loading"
      [nzHideOnSinglePage]="true"
      nzTableLayout="fixed"
    >
      <thead>
        <tr>
          <th [nzWidth]="'400px'">文件名</th>
          <th>类型</th>
          <th>最后更新</th>
          <th>
            <button
              nz-button
              nzType="danger"
              nzSize="small"
              (click)="deleteUploadList()"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fileListTable.data">
          <td>{{ data.fileName }}</td>
          <td nzLeft="true">
            <nz-tag [nzColor]="'#2db7f5'">{{ filetype[data.fileType] }}</nz-tag>
          </td>
          <td nzRight="true">{{ data.createdTime * 1000 | date: "yyyy-MM-dd HH:mm:ss" }}</td>
          <td
            nzShowCheckbox
            [(nzChecked)]="mapOfCheckedId[data.fileId]"
            (nzCheckedChange)="check(data.fileId)"
          ></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="上传文件"
  (nzOnCancel)="isVisible = false"
  (nzOnOk)="isVisible = false"
>
  <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    [nzLimit]="5"
    [(nzFileList)]="fileList"
    [nzBeforeUpload]="beforeUpload"
  >
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">
      可以通过<span class="warn">点击</span>或<span class="warn">拖拽</span
      >的方式上传
    </p>
    <p class="ant-upload-hint">支持多文件上传(单次最多5个))</p>
  </nz-upload>
  <div class="upload-button">
    <button
      nz-button
      [nzType]="'primary'"
      [nzLoading]="uploading"
      (click)="handleUpload()"
      [disabled]="fileList.length == 0"
      style="margin-top: 16px"
    >
      {{ uploading ? "上传中" : "开始上传" }}
    </button>
  </div>
</nz-modal>
